/* Abstracts
----------------------- */

:root {
  /* Font sizes */
    --step-0: clamp(1rem, 0.931rem + 0.3448vi, 1.125rem);
    --step-1: clamp(1.2rem, 1.0862rem + 0.569vi, 1.4063rem);
    --step-2: clamp(1.44rem, 1.2647rem + 0.8767vi, 1.7578rem);
    --step-3: clamp(1.728rem, 1.4691rem + 1.2945vi, 2.1973rem);
    --step-4: clamp(2.0736rem, 1.7023rem + 1.8565vi, 2.7466rem);
    --step-5: clamp(2.4883rem, 1.7565rem + 3.659vi, 3.8147rem);

    /* Spacing */
    --space-3xs: clamp(0.25rem, 0.2155rem + 0.1724vi, 0.3125rem);
    --space-2xs: clamp(0.5rem, 0.4655rem + 0.1724vi, 0.5625rem);
    --space-xs: clamp(0.75rem, 0.681rem + 0.3448vi, 0.875rem);
    --space-s: clamp(1rem, 0.931rem + 0.3448vi, 1.125rem);
    --space-m: clamp(1.5rem, 1.3966rem + 0.5172vi, 1.6875rem);
    --space-l: clamp(2rem, 1.8621rem + 0.6897vi, 2.25rem);
    --space-xl: clamp(3rem, 2.7931rem + 1.0345vi, 3.375rem);
    --space-2xl: clamp(4rem, 3.7241rem + 1.3793vi, 4.5rem);
    --space-3xl: clamp(6rem, 5.5862rem + 2.069vi, 6.75rem);

    /* Colors */
    --clr-boots-blue: #05054b;
    --clr-boots-accent-blue: #0067b2;
    --clr-boots-light-grey: #f2f2f2;
    --clr-boots-neutral-backdrop: #fef6f4;
    --clr-boots-healthcare-blue: #0092cc;
    --clr-boots-advantage-pink: #e41b68;
    --clr-boots-key-line: #d0d0d0;
    --clr-boots-text-grey: #616161;
    --clr-boots-red: #c03;
}

/* Reset
----------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-block-size: 100vh;
  font-family:
    boots-sharp,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  color: var(--clr-boots-text-grey);
  background-color: var(--clr-boots-neutral-backdrop);
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

@font-face {
  font-family: boots-sharp;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("https://assets.lemonaidhealth.co.uk/web/brochure/fonts/BootsSharp-Light.woff") format("woff");
}

@font-face {
  font-family: boots-sharp;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://assets.lemonaidhealth.co.uk/web/brochure/fonts/BootsSharp-Regular.woff") format("woff");
}

@font-face {
  font-family: boots-sharp;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://assets.lemonaidhealth.co.uk/web/brochure/fonts/BootsSharp-Bold.woff") format("woff");
}

/* Global Styles
----------------------- */

/* Utility Classes
----------------------- */

/* Center main content */
.contain-content {
  --min: var(--space-s);
  --max: 1440px;

  display: grid;
  grid-template-columns:
    minmax(var(--min, 0.5rem), 0.5fr)
    minmax(calc(320px - (2 * var(--min, 0.5rem))), var(--max, 90%))
    minmax(var(--min, 0.5rem), 0.5fr);
  grid-template-rows: min-content 1fr min-content;

  > * {
    grid-column: 2;
  }
}

/* Manage vertical spacing */

.stack > * + * {
  margin-block-start: var(--stack-space, var(--space-s, 1rem));
}

/* Text accessible only for screen readers */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}


/* Blocks
----------------------- */

.image-preview {
  max-inline-size: min(400px, 100%);
}

label {
  display: block;
  max-inline-size: fit-content;
  color: var(--clr-boots-light-grey);
  background-color: var(--clr-boots-blue);
  cursor: pointer;
}
